:root {
    --navbar-position: absolute;
    --doc-top-space: 15%;
    --doc-left-space: 0;
    --nav-left: 25%;
    --nav-width: auto;
    --nav-height: var(--doc-top-space);
    --margin-size: 5% 0;
}

@media screen and (min-width: 700px) {
    /* For desktops */
    :root {
        --navbar-position: fixed;
        --doc-top-space: 0;
        --doc-left-space: 15%;
        --nav-left: 0;
        --nav-width: var(--doc-left-space);
        --nav-height: auto;
    }
}

#navbar {
    position: var(--navbar-position);
    top: 0;
    left: var(--nav-left);
    height: var(--nav-height);
    width: var(--nav-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#main-doc {
    position: relative;
    top: var(--doc-top-space);
    left: var(--doc-left-space);
    width: calc(100% - var(--doc-left-space));
}

header {
    font-weight: bold;
}

section {
    margin: var(--margin-size)
}

footer {
    position: static;
    bottom: 0;
}
